.display {
    border: 1px solid black;
    width: 100px;
    height: 200px;
}

.wrapper {
    text-align: center;
}

.access_confirm_text {
    color: green;
}

.access_denied_text {
    color: red;
}
